<%- include("partials/header") %>

<div class="post-container">
  <h1> <%= title %> </h1>
  <p> <%= content %> </p>
  <p> Category: <%= category %>.</p>
  <div class="btn-container">
    <a class="btn-to-new" href="/">Return to main page</a>
  </div>
</div>

<%- include("partials/footer") %>
